<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FinalExam-201420/src/spaceships/MovingSpaceshipMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="spaceships.MovingSpaceshipMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FinalExam-201420"/>
</launchConfiguration>
